language: ruby
rvm:
  - 1.9.3
before_script:
  - psql -c 'create database gistflow_test;' -U postgres
  - bundle exec rake db:migrate
notifications:
  email:
    - releu@me.com
    - makaroni4@gmail.com
