@import "configuration";

section.comments {
  > header {
    h1 {
      @include caption;
    }
  }
  
  h2 {
    @include caption;
  }
  
  div.preview {
    background: whiteSmoke;
    padding: 5px;
    
    article.comment {
      border-bottom: none;
      margin-bottom: 0;
    }

    .markdown {      
      img {
        background: whiteSmoke;
      }
    }
  }
  
  form.new_comment {
    margin-bottom: 10px;
  }
}

article.comment {
  header {
    h1 {
      font-size: 15px;
      line-height: 28px;

      a.type {
        font-weight: 600;
      }
    }
  }
  
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted $layout;
  &:last-child {
    border-bottom: 0;
  }
  
  .avatar {
    float: left;

    img {
      width: 26px;
      height: 26px;
    }
    
    a {
      @include frame;
    }
  }
  
  .controls {
    display: none;
    float: right;
    margin-top: -22px;
    
    li {
      display: inline-block;
      @include li-separator;
    }
  }
  
  .markdown {
    margin-left: 40px;
    
    img {
      max-height: 160px;
      max-width: 540px;
      background: white;
      margin: 5px 10px 0 0;

      &.emoji {
        margin: 0;
      }
    }
  }
}
