@import "configuration";

article.post {
  
  header h1 {
    font-size: 15px;
    line-height: 28px;
    
    span {
      display: inline-block;
      font-size: 14px;
      color: $layout;
      a {
        color: $charcoal;
        font-weight: bold;

        &:hover {
          color: $layout;
        }
      }
    }
  }
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray;
  
  &.detail {
    header h1 {
      font-size: 20px;
      line-height: 36px;
      
      span {
        font-size: 18px;
      }
    }
  }
  
  &:last-child {
    border-bottom: 0;
  }
  
  .avatar {
    float: left;
    
    a {
      @include frame;
    }
  }
  
  .markdown img {
    max-width: 580px;
    margin: 5px 0;
  }
  
  .preview {
    margin-left: 40px;
    img {
      max-width: 540px;
      margin: 5px 10px 0 0;
      background: $gray;
      max-height: 160px;
    }
  }
  
  footer {
    margin-top: 5px;
    
    time {
      float: left;
      padding: 4px 0;
      font-size: 12px;
      color: $charcoal;
    }
  }
}