@import "configuration";

article.post {
  header h1 {
    font-size: 15px;
    line-height: 28px;
  }
  margin-bottom: 5px;
  
  &.detail {
    header h1 {
      font-size: 20px;
      line-height: 36px;
    }
  }
  
  .avatar {
    float: left;
    
    a {
      @include frame;
    }
  }
  
  .preview {
    margin-left: 40px;
    
    img {
      max-height: 160px;
      max-width: 540px;
      background: $gray;
      margin: 5px 10px 0 0;
    }
  }
  
  footer {
    margin-top: 5px;
  }
}