- presenter = Comments::ShowPresenter.new(comment)
%article
  %header
    %h1= presenter.title
    .avatar
      = link_to user_path(:id => presenter.user.username) do
        = avatar_image(presenter.user)
  .group.markdown= presenter.content
