header class="primary"
  h1 Map

div id="map_canvas"

javascript:
  $(document).ready(function(){
    var mapOptions = {
      center: new google.maps.LatLng(40, -20),
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      panControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions)
    
    var myOptions = {
      content: '<div id="map-window"></div>',
      pixelOffset: new google.maps.Size(-50, -50),
      boxStyle: { width: "100px" }
    }

    var locations = #{@locations.to_json.html_safe}
    
    var overlay = new google.maps.OverlayView();
    overlay.draw = function() {};
    overlay.setMap(map);

    var proj = overlay.getProjection();
    
    _(locations).each(function(location){
      var position = new google.maps.LatLng(location.lat,location.lng)
      var marker = new google.maps.Marker({
          position: position,
          title: _(location.users).map(function(e) { return '@' + e }).join(" "),
          icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + location.count + '|FE6256|000000',
          map: map
      })
    })
  })
  