= yield(:sidebar_gists).blank? ? render(:partial => 'shared/sidebar_gists', :locals => { :user => current_user, :gists => cookie_gists }) : yield(:sidebar_gists)
= sidebar_posts "Recent posts", recent_posts, root_url