- if user_signed_in?
  .caption Your Gists
  .gists
    %ul.unstyled
      / - current_user.github_gists.each do |gist|
      /   %li= link_to "##{gist['id']} #{gist["description"]}", "#import_gist_#{gist['id']}", :class => "import_gist", :id => gist["id"]

.caption Popular
