- if user_signed_in?
  .caption 
    - if @user and @user != current_user
      = "#{@user.username}'s"
    - else
      Your
    Gists
  #gists
    = render :partial => 'gists/list', :locals => { :gists => cookie_gists }

= sidebar_block("Recent posts", recent_posts)