- window_title "Tutorial"
section class="tutorial"
  header class="primary"
    h1 Tutorial
  
  div class="markdown"
    markdown:
      ## Writing code-related posts
      
      Click on the **New post** button.
      
      ![Link to new post](http://img21.imageshack.us/img21/6311/screenshot20120612at152.png)
      
      ![New post form](http://img403.imageshack.us/img403/7712/screenshot20120612at202.png)
      
      ## Liking posts
      
      ![Like post](http://img802.imageshack.us/img802/4079/screenshot20120612at223.png)
      
      ## Subscribing tags
      
      You can subscribe for tag by few ways:
      
      ### Your subscriptions page.
      
      Click on **Subscribe for more** link on the bottom of your sidebar
      
      ![Subscribe for more](http://img404.imageshack.us/img404/5179/screenshot20120612at206.png)
      
      ### Subscribe on tag's page
      
      ### Autosubscriptions
      
      After you submit posts or comments or wiki we subscribe for tags you are have written for.
      
      ![Subscribe posts](http://img205.imageshack.us/img205/4541/screenshot20120612at207.png)
      
      ## Bookmarking posts
      
      In order to remember post you can bookmark it and get it from sidebar anytime.
      
      IMG
      
      IMG
      
      ## Writing comments
      
      On the post's page you can comment it.
      
      ![New comment](http://img651.imageshack.us/img651/2097/screenshot20120612at218.png)
      
      ## Following users
      
      In order to expand your flow and will be more social you can navigate to user's page and follow him (her)
      
      ![Follow user](http://img27.imageshack.us/img27/8366/screenshot20120612at221.png)
      
      ## Observing posts
      
      After you submit new post or comment you will automatically observing that post.
      
      Also you can observe/unobserve it manually.
      
      ![Observe post](http://img825.imageshack.us/img825/4079/screenshot20120612at223.png)
      