@import "configuration";

section.about {
  h2 {
    font-size: 18px;
    line-height: 18px;
  }
  
  li:before {
    content: "—";
    margin-right: 5px;
    color: $charcoal;
  }
  
  li {
    font-size: 14px;
  }
  
  h2, ul {
    margin-bottom: 5px;
  }
  
  a {
    font-weight: 600;
    font-size: 16px;
    position: relative;
    left: 5px;
  }
}