section.jqcloud {
  overflow: hidden;
  position: relative;
  font-size: 10px;
  line-height: normal;

  a {
    color: inherit;
  }

  a:hover {
    color: #c1c1c1;
  }

  span { 
    padding: 0; 
  }

  .w10 { font-size: 550%; color: #9628A1; }
  .w9 { font-size: 500%; color: #5429A3; }
  .w8 { font-size: 450%; color: #7A3BEC; }
  .w7 { font-size: 400%; color: #986AEC; }
  .w6 { font-size: 350%; color: #A66500; }
  .w5 { font-size: 300%; color: #BF8830; }
  .w4 { font-size: 250%; color: #FF9C00; }
  .w3 { font-size: 200%; color: #A69100; }
  .w2 { font-size: 150%; color: #BFAE30; }
  .w1 { font-size: 100%; color: #FFB540; } 
}