div.diff-container {
  margin-bottom: 16px;
  
  div.diff {
    ins, del {
      text-decoration: none;
    }
    li {
      padding: 1px 5px;
      font-size: 13px;
      line-height: 13px;
      color: #555;
    }
    li.unchanged {
      color: #666;
    }
    li.del {
      background-color: #ffd0d0;
    }
    li.ins {
      background-color: #d0ffd0;
    }
  }
  .author {
    font-size: 14px;
    line-height: 14px;
    a {
      font-weight: bold;
    }
    margin-bottom: 5px;
  }
}