@import "configuration";

section.landing {
  position: relative;
  > header {
    h1 {
      font-size: 33px;
      line-height: 30px;
      color: #666;
      padding: 60px 0 40px;
      text-align: center;
    }
    .login {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 18px;
      padding: 10px 0 0 0;
      text-transform: lowercase;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      
      ul {
        li {
          display: inline-block;
          padding: 0 3px;
        }
      }
    }
  }
  
  div.sign-up {
    text-align: center;
    padding: 60px 0 40px;
    position: relative;
    
    a {
      font-size: 40px;
      border: 1px solid $layout;
      padding: 25px 30px 22px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 white;
      background-color: whiteSmoke;
      background-image: -webkit-linear-gradient(top, white, whiteSmoke);
      background-image: -o-linear-gradient(top, white, whiteSmoke);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, whiteSmoke));
      background-image: -ms-linear-gradient(top, white, whiteSmoke);
      background-image: -moz-linear-gradient(top, white, whiteSmoke);
      background-image: linear-gradient(top, white, whiteSmoke);
      
      &:after {
        content: "";
        background: url(asset-path('octocat.png', image)) no-repeat right center;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: bottom;
      }
      
      color: #428EDD;
      
      &:hover {
        color: $link;
      }
      &:active {
        color: #0E4C89;
      }
    }
  }
  
  div.description {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    padding: 30px 0;
  }
  
  section.gistflow {
    width: 480px;
    float: left;
    position: relative;
    
    header {
      text-align: center;
      
      h1 {
        font-size: 85px;
        line-height: 85px;
        font-weight: 600;
        color: #428EDD;
      }
      
      p {
        font-weight: 600;
        font-size: 27px;
        line-height: 27px;
        position: relative;
        top: -10px;
        color: #666;
      }
      padding: 50px 0 17px;
    }
    
    div.fork-me {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    div.statistics {
      div {
        width: 160px;
        float: left;
        text-align: center;
        
        h2 {
          @include caption;
          line-height: 25px;
          font-size: 23px;
        }
        
        p {
          @include caption;
          color: #666;
          line-height: 25px;
          font-size: 22px;
        }
        
      }
    }
  }
  
  div.slider {
    float: right;
    width: 472px;
    height: 292px;
    border: 1px solid $gray;
    padding: 3px;
    position: relative;
    img {
      width: 472px;
      height: 292px;
      position: absolute;
      z-index: 1;
    }
    nav {
      ul {
        position: absolute;
        z-index: 2;
        top: 288px;
        left: 195px;
        font-size: 50px;
        line-height: 50px;
        
        li {
          display: inline-block;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  div.more {
    div.image {
      float: left;
      margin: 0 22px 0 0;
      border: 2px solid $gray;
      padding: 3px;
      line-height: 0;
      
      img {
        line-height: 0;
      }
    }
    
    div.message {
      margin-bottom: 26px;
      
      strong {
        color: #404040;
      }
    }
    
    p {
      font-size: 22px;
      line-height: 28px;
      color: #666;
      &.center {
        text-align: center;
      }
      em {
        color: #E3645B;
      }
    }
    
    h2 {
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      padding: 36px 0;
    }
    
    h3 {
      font-size: 30px;
      line-height: 42px;
    }
  }
}

#chart {
  width: 900px;
  height: 400px;  
}