@import "configuration";

div.span4 {
  width: 300px;
  float: left;
}
div.span8 {
  width: 620px;
  float: left;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

header.top {
  h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
  }
  padding-top: 22.249px;
  padding-bottom: 22.249px;
}

section.join {
  h1 {
    font-size: 58.248px;
    line-height: 94.245px;
    # color: #4785D9;
    color: #4988DE;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.61);
  }
  p {
    font-size: 22.250px;
    line-height: 36px;
    color: #7E7E7E;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.61);
  }
  padding: 36px 0;
  background: #E8E8E8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div.join-sign-up {
  text-align: center;
}