@import "configuration";

section.main {
  padding-top: 0;
  
  form, .form {
    input[type="text"], textarea {
      width: 570px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #666;
      border: 1px solid $layout;
      font-size: 13px;
      padding: 4px;
      
      &:focus {
        border-color: $charcoal;
      }
    }
    
    input[type="checkbox"] {
      margin-right: 5px;
    }
    
    fieldset {
      margin-bottom: 5px;
    }
    
    &#instant {
      fieldset {
        margin-bottom: 0;
      }
      textarea {
        height: 36px;
      }
    }
    
    h2 {
      @include caption;
    }
  }
  
  .actions {
    .left {
      float: left;
      width: 300px;
      
      a.hints {
        border-bottom:1px dashed;
        text-decoration:none;
      }
      
      &.gray {
        a {
          color: $layout;
        
          &:hover {
            color: $charcoal;
          }
        }
      }
    }
    .button-groups {
      float: right;
      line-height: 0;
      
      form {
        float: left;
      }
      
      .button-group {
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
  
  div.subscription {
    padding: 0 0 10px 0;
  }
  
  ul.subscriptions {
    li {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }
  
  .markdown_hints {
    display: none;
    clear: both;
    margin-top: 25px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.035);
    white-space: pre-wrap;
    font-family: monospace;
  }
  
  div.user {
    margin-bottom: 20px;
    
    .avatar {
      @include frame;

      img {
        width: 48px;
        height: 48px;
      }
    }
    
    h2 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 6px;
      a {
        span {
          color: $charcoal;
          &:hover {
            color: #666;
          }
        }
      }
    }
    
    .info {
      margin-left: 70px;
    }
  }
}