@import "configuration";
section.posts {
  header {
    nav.menu {
      li {
        @include li-separator;
        @include caption;
        color: #666;
      }
    }
    nav.submenu {
      float: right;
      text-transform: none;
      position: relative;
      top: 5px;
    }
  }
}