@import "configuration";
section.posts {
  > header {
    h1 {
      @include caption;
    }
  }
  
  form {
    fieldset.twitter {
      position: relative;
      #status-length {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: $charcoal;
      }
    }
  }
}