@import "configuration";
section.posts {
  > header {
    h1 {
      @include caption;
    }
  }
  
  form {
    fieldset.twitter {
      position: relative;
      #status-length {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: $charcoal;
      }
    }

    textarea {
      font-family: monospace;
    }
    
    div.preview {
      background: whiteSmoke;
      padding: 5px;
      min-height: 196px;
      margin-bottom: 10px;
    }
    
    div.preview, a.edit {
      display: none;
    }
  }
}