@import "configuration";

section.settings {
  header h1 {
    @include caption;  
  }

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: $charcoal;
    line-height: 14px;
  }

  .form-group {
    margin: 5px 0 15px;
    
    label {
      display: block;
    }
  }

  .secret-token {
    &.secretive {
      cursor: pointer;
    }
  }
}