@import "configuration";

section.sidebar {
  padding-top: 0;
  
  section {
    margin-bottom: 10px;
  }
  
  section.user {
    .avatar {
      @include frame;
      margin-bottom: 10px;
    }
    div.user {
      margin-bottom: 10px;
    }
    
    ul.followers {
      
    }
    
    dl {
      margin-left: 80px;
    }
  }
  
  nav {
    font-weight: bold;
    padding-bottom: 2px;
  }
}
