- if user_signed_in? || sidebar_presenter.gists.any?
  = caption 'Gists'
  - klass = sidebar_presenter.user == current_user ? 'current-user' : ''
  #gists{ :class => klass }
    - if sidebar_presenter.gists.any?
      - locals = { :gists => sidebar_presenter.gists }
      = render :partial => 'gists/list', :locals => locals
    - else
      = link_to_github_user sidebar_presenter.user
