$layout: #bfbfbf;
$gray: #ddd;
$link: #0069D6;
$charcoal: #aaa;
$base: #404040;

@mixin caption {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 36px;
  text-shadow: 1px 1px 4px #fff;
  font-size: 19px;
}

@mixin li-separator {
  display: inline-block;
  &:after {
    content: '';
    margin: 0 5px;
    display: inline-block;
    width: 1px;
    height: 1em;
    background: $layout;
    position: relative;
    top: 3px;
  }
  &:last-child:after {
    display: none;
  }
}

@mixin frame {
  float: left;
  padding: 1px;
  border: 1px solid $layout;
  line-height: 0;
}