/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset.css
 *= require css3buttons
 *= require_tree .
*/

.clear { clear: both; }

.alert {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  color: #fff;
  padding: 9px 0;
  text-shadow: rgba(99,130,0,.75) 1px 1px 1px;
  font-size: 21px;
    &.success {
      background-color: rgb(161, 195, 0);
      background-color: rgba(161, 195, 0, .8);
    }
    
    &.error{
      background-color: rgb(161, 0, 0);
      background-color: rgba(161, 0, 0, .8);
    }
    
}