@import "configuration";

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

strong, b {
  font-weight: 600;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font: 13px/18px "Myriad Pro", Arial, sans-serif;
  color: $base;
  background: #fff;
}

a {
  color: $link;
  text-decoration: none;
  
  &:hover, &.active {
    color: #0E4C89;
  }
}

.green {
  color: #00B25C;
}
