@import "configuration";

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

body {
  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  background: #fff;
}

a {
  color: $link;
  text-decoration: none;
  
  &:hover {
    color: #0E4C89;
  }
}
