@import "configuration";

.button.disabled {
  background: rgba(245, 245, 245, 0.56) !important;
  &:active, &:hover, &:focus, &.active {
    color: $base;
  }
}

.high_button {
  height: 26px ! important;
}

.button {
  line-height: 13px;
}