@import "configuration";

.arrow {
  font-size: 20px;
  line-height: 20px;
  color: $charcoal;
  vertical-align: middle;
  margin-right: 5px;
  font-weight: 600;
}

.button {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  &.disabled {
    background: rgba(245, 245, 245, 0.56) !important;
    &:active, &:hover, &:focus, &.active {
      color: $base;
    }
  }
}

.high_button {
  height: 26px ! important;
}

.button {
  line-height: 13px;
}