footer.main {
  line-height: 20px;
  padding: 20px 0 0;
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
  text-shadow: 0 1px 1px #fff;
  z-index: 20;
  
  img {
    vertical-align: middle;
  }

  p {
    padding: 0 10px;
  }

  ul.left {  
    float: left;

    li {
      width: 100px;
      display: inline;
      margin-right: 25px;
    }
  }    

  p.right {
    float: right;
  }

  a.logo {
    left: 50%;
    margin-top: -2px;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: rgba(150, 150, 150, 0.3);
  }

  a.logo:hover {
    color: #0069d6;
  }
}