form {
  .form-item {
    margin-bottom: 14px;
    &.no-margin {
      margin: 0;
    }
    .hint {
      color: #999;
    }
    input, textarea {
    	border-radius: 3px;
    	font-size: 13px;
    	line-height: 18px;
    	padding: 4px;
    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    	border: 1px solid #CCC;
    	margin-bottom: 2px;
    	color: #555;
    }

    input[type=text], textarea {
      width: 570px;
    }
  }
  
	margin-bottom: 10px;
	
	.actions .button {
		float: right;
	}
	ul {
		float: right;
		.help {
			padding: 4px 10px 0 2px;
			font-size: 12px;
		}
	}
	.left {
		float: left;
		padding: 3px 0;
		font-size: 12px;
		a {
			color: #bbb;
		}
		label {
		  display: inline-block;
		}
	}
	label {
	  display: block;
	}
}


#instant_form {
  textarea {
    margin-bottom: 5px;
  }
} 

#search {
  input[type=search] {
    width: 200px;
    font-size: 15px;
  }
  .submit {
    color: #bfbfbf;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 3px;
  }
}
  