@import "configuration";

header.main {
  position: relative;
  padding-bottom: 0;
  
  h1 {
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    padding: 1px 0 8px;
    float: left;
    width: 160px;
    color: #565656;
    
    a {
      color: #565656;
      -webkit-transition: color .1s ease-in-out;
      -moz-transition: color .1s ease-in-out;
      -o-transition: color .1s ease-in-out;
      transition: color .1s ease-in-out;
      
      &:hover {
        color: #428EDD;
      }
      &:active {
        color: #666666;
      }
    }
  }
  
  &.map {
    h1 {
      a {
        color: #536A85;
        font-weight: bold;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
      }
    }
  }
  
  .hr {
    border-bottom: 1px solid $layout;
    margin-bottom: 5px;
  }
  
  div.search {
    float: left;
    padding-top: 8px;
    width: 340px;
    color: $layout;
    position: relative;
    bottom: 1px;
    
    input[type='search'] {
      width: 200px;
      -webkit-appearance: none;
      font-size: 12px;
      border: 1px solid $gray;
      padding: 3px;
      background-color: rbga(255, 255, 255, 0.66);
    }
    input[type='search']:focus {
      border-color: $layout;
    }
    input[type='submit'] {
      background: none;
      padding: 0;
      border: 0;
      color: $layout;
      width: 20px;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      cursor: pointer;
      
      &:hover {
        color: $charcoal;
      }
    }
  }
  
  nav.back {
    float: right;
    width: 360px;
    text-align: right;
    font-size: 18px;
    padding: 10px 0 0 0;
    a {
      color: #536A85;
      border-bottom: 1px solid;
      font-weight: bold;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    }
  }
  
  nav.user {
    float: right;
    height: 35px;
    width: 360px;
    
    ul {
      padding: 6px 14px 5px;
      border: 1px solid $gray;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 white;
      background-color: whiteSmoke;
      background-image: -webkit-linear-gradient(top, white, whiteSmoke);
      background-image: -o-linear-gradient(top, white, whiteSmoke);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, whiteSmoke));
      background-image: -ms-linear-gradient(top, white, whiteSmoke);
      background-image: -moz-linear-gradient(top, white, whiteSmoke);
      background-image: linear-gradient(top, white, whiteSmoke);
      float: right;
      text-align: right;
      
      li {
        display: inline-block;
        line-height: 19px;
        @include li-separator;
      }
      
      a {
        text-decoration: none;
        padding: 2px 0;
        display: inline-block;
        
        &.login {
          background-image: url("github-icons.png");
          padding-left: 20px;
          background-position: 0 5px;
          background-repeat: no-repeat;
          font-weight: 600;
        }
        
        &.username {
          font-weight: 600;
        }
      }
    }
  }
}
