@import "configuration";

.label {
  padding: 1px 4px 2px;
  font-size: 10.998px;
  line-height: 13px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A4BEE0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  &:hover {
    color: #ffffff;
    background-color: #5D7593;
  }
}
