header {
	padding: 10px 0 20px;
	.logo {
		font-size: 24px;
		font-weight: bold;
	}
	
	.authentication {
		text-align: right;
		font-size: 14px;
		.login {
			font-weight: bold;
		}
		ul {
			float: right;
		}
	}
}
