.list-item {
  margin-bottom: 18px;
  .title {
    line-height: 28px;
    font-size: 15px;
    .username {
      font-weight: bold;
    }
  }
  .avatar {
    float: left;
    padding: 1px;
    border: 1px solid #BFBFBF;
    line-height: 1px;
    a {
      display: block;
    }
  }
  .preview, .content {
    margin-left: 40px;
  }
  .notice {
    margin-left: 5px;
    float: right;
    .button-group {
      float: left;
    }
    a.button.disabled {
      background-color: whiteSmoke;
      color: #4b4b4b;
      &:hover {
        background-color: whiteSmoke;
      }
    }
    .author {
      font-weight: bold;
    }
    .comments {
      text-decoration: none;
      color: white;
    }
  }
}
