@import "configuration";

.markdown {
  font-size: 14px;
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 28px;
    color: #333;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  h5 {
    font-size: 14px;
    font-weight: 600;
  }
  h6 {
    font-weight: 600;
  }
  
  p {
    line-height: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    margin-left: 2em;
    margin-bottom: 10px;
    font-size: 12px;
  }
  code {
    border: 1px solid #E1E1E8;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    padding: 0px 5px 1px;
    line-height: 15px;
    margin-bottom: 1em;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    font-size: 12px;
  }
  pre {
    white-space: pre-wrap;
    
    code {
      overflow-x: scroll;
      display: block;
      padding: .25em .5em .3em .5em;
      font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
      font-size: 12px;
    }
  }
  blockquote {
    border-left: 2px solid $gray;
    background: rgba(0, 0, 0, 0.03);
    font-size: 12px;
    padding: 5px 5px 5px 8px;
  }
}