.markdown {
  h1, h2, h3, h4, h5, h6 {
    line-height: 28px;
    color: #333;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
  }
  h6 {
    font-weight: bold;
  }
  
  p {
    line-height: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    margin-left: 2em;
  }
}