@import "configuration";

.markdown {
  img {
    display: block;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
  
  h1 {
    font-size: 14px;
    font-weight: 400;
  }
  
  h2, h3, h4, h5, h6 {
    
  }
  h2 {
    font-size: 22px;
    line-height: 32px;
    margin: 32px 0 22px;
    border-bottom: 1px solid #ccc;
  }
  h3 {
    font-size: 18px;
    line-height: 29px;
    margin: 29px 0 11px;
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
  
  p, blockquote, ul, ol, dl, table, pre {
    margin: 10px 0;
  }
  p {
  }
  
  b, strong {
    font-weight: 600;
  }
  
  i, em {
    font-style: italic;
  }
  
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    margin-left: 2em;
  }
  code {
    border: 1px solid #E1E1E8;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    display: inline-block;
    padding: 0px 3px 1px;
    line-height: 19px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    font-size: 12px;
    border-radius: 3px;
  }
  pre {
    white-space: pre-wrap;
    overflow-x: scroll;
    display: block;
    padding: 4px 8px;
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    line-height: 19px;
    font-size: 12px;
    border-radius: 3px;
    background: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #404040;

    code {
      background: none;
      padding: 0;
      border: none;
    }
  }
  blockquote {
    border-left: 2px solid $gray;
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;

    *:first-child {
      margin-top: 0px;
    }

    *:last-child {
      margin-bottom: 0px;
    }
  }
}