.post {
	margin-bottom: 18px;
	.avatar {
		float: left;
	}
	.body {
		margin-left: 40px;
	}
	.caption {
		text-align: right;
		.author {
			font-weight: bold;
		}
		.comments {
			text-decoration: none;
			color: white;
		}
	}
	&.detail {
		.body {
			margin: 0 0 20px 0;
		}
	}
}