@link: #0069D6;
@darkgray: #4b4b4b;
@text: #7a7a7a;
@lightgray: #eee;
@red: #CC9090;

.rounded-corners (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

body {
  font-size: 14px;
  font-family: 'proxima-nova', sans-serif;
}

.left-column {
  width: 220px;
  padding: 20px 0;
  float: left;
}

.right-column {
  width: 620px;
  float: right;
  overflow: hidden;
}

.row {
  width: 860px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.clear {
  clear: both;
  line-height: 0;
}

.hidden {
  display: none !important;
}

a {
  color: @link;
  text-decoration: none;
}

a.secondary {
  color: #7a7a7a;
  &:hover {
    text-decoration: underline;
    color: #4b4b4b;
  }
}

.main-row {
  min-height: 550px; /* temp */
}

.main-header {
  background: #eee;
  border-bottom: 2px solid @red;
}

.main-logo {
  font-size: 32px;
  line-height: 49px;
  padding-top: 1px 10px 0;
  font-weight: 600;
  width: 860px;
  margin: 0 auto;
  a {
    color: #666;
  }
}

.main-auth {
  position: absolute;
  right: 0;
  top: -32px;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
  }
  
  li {
    display: inline-block;
    margin-left: 5px;
  }
  
  a {
    color: #4b4b4b;
  }
  
  a:hover {
    color: #7a7a7a;
    text-decoration: none;
  }
}

.main-search {
  position: absolute;
  left: 250px;
  top: -35px;
  
  input {
    width: 208px;
    font-size: 13px;
    padding: 3px 5px;
    border: 1px solid #bababa;
    outline: none;
    color: #666;
    
    .rounded-corners;
    
    &:focus {
      border-color: #aaa;
    }
  }
}


.profile {
  
}

.profile-title {
  font-size: 22px;
  margin: 0 0 0 70px;
}

.profile-tags {
  font-size: 16px;
  margin: 0 0 0 70px;
}

.profile-avatar {
  float: left;
  line-height: 0;
  font-size: 0;
  
  img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
}

.profile-stats {
  padding: 10px 0 20px;
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    display: table-cell;
    width: 30%;
    text-align: center;
    border-left: 1px solid #eee;
    padding: 0 10px;
    
    &:first-child {
      border-left: none;
    }
  }
}

.profile-stats-stat {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

.profile-stats-value {
  color: #7a7a7a;
  display: block;
}

.profile-new-post {
  margin: 0 0 30px;
  
  a {
    display: block;
    text-align: center;
    color: white;
    background: @text;
    padding: 5px;
    
    .rounded-corners(5px);
    &:hover {
      background: #888;
    }
  }
}

.profile-menu {
  margin: 20px 0 10px;
  font-size: 16px;
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  li {
    margin: 5px 0 0;
  }
  
  a:hover {
    text-decoration: none;
  }
}


.follow {
  float: left;
  width: 220px;
}

.follow-title {
  font-size: 22px;
  margin: 0 0 10px;
}

.follow-list {
  padding: 0;
  list-style: none;
  margin: 0;
  
  i {
    cursor: pointer;
    margin-left: 3px;
  }
}


.posts {
  
}

.posts-title {
  font-size: 28px;
  line-height: 64px;
  margin: 0;
}


.post {
  margin-bottom: 30px;
  position: relative;
}

.post-title {
  position: relative;
  top: -4px;
  margin: 0;
  line-height: 28px;
  font-size: 18px;
  color: #ccc;
}

.post-title-author {
  color: #7a7a7a;
  
  &:hover {
    color: #666;
  }
}

.post-title-author-rating {
  padding: 3px 0 0;
  font-size: 11px;
  text-align: center;
  color: @text;
}

.post-content {
  >:first-child {
    margin-top: 0;
  }
  >:last-child {
    margin-bottom: 5px;
  }
}

.post-links {
  padding: 8px 10px;
  margin-top: 10px;
  font-size: 12px;
  background: url('grid.png');
  background-size: 3px 3px;
  
  a {
    color: #7a7a7a;
    margin-right: 10px;
    font-weight: 600;
    
    &:hover {
      color: #4b4b4b;
    }
  }
}

.post-links-group {
  display: inline-block;
  margin-right: 30px;
}

.post-links-group-manage {
  float: right;
  margin-right: 0;
}

.post-author {
  float: left;
  
  a {
    border: 1px solid #ccc;
    padding: 2px;
    display: inline-block;
    line-height: 0;
  }
  
  img {
    width: 42px;
    height: 42px;
  }
}

.post-preview {
  > header {
    width: 560px;
    float: right;
  }
}

.post-content-preview {
  float: right;
  width: 560px;
  
  img {
    max-height: 100px;
    max-width: 100%;
  }
  
  h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin: 10px 0;
  }
}

.post-detail {
  .post-title {
    font-size: 28px;
    color: #4b4b4b;
    line-height: 34px;
    padding: 15px 0;
  }
}

.main-footer {
  margin-top: 20px;
  border-top: 2px solid @red;
  background: #eee;
}

.main-footer-menu {
  padding: 20px 0;
  
  ul {
    margin: 0;
    width: 240px;
    padding: 0;
    list-style: none;
    float: left;
  }
}

.main-footer-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: @text;
  padding-bottom: 5px;
}

.posts-similar {
  width: 620px;
  float: right;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 2px;
    color: @darkgray;
    
    &:before {
      content: "—";
      margin-right: 10px;
    }
  }
}

.posts-similar-title {
  font-size: 20px;
  margin: 0 0 5px;
}